
.main{
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: auto;
}
.left_menu{
  width: 300px;
  border-right: 1px solid #aaa;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.move_menu{
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  //background: #00dbde;
  cursor: col-resize;
}
.file_list{
  padding: 20px;
  flex: 1;
  overflow: auto;
}
.fold_operation{
  text-align: right;
}
.upload_component{
  text-align: center;
}

.pagination{
  text-align: right;
  margin: 20px 0;
}

/*.fold_list{
  padding: 20px;
  .fold{
    position: relative;
    padding-left: 20px;
  }
  .fold_name{
    margin-bottom: 10px;
  }
  a{
    display: block;
    font-size: 16px;
    color: #000;
  }
  .fold_icon_collapse{
    position: absolute;
    left: 0;
    top: 0;
  }
  .fold_operation{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    //background-color: aqua;
    border-radius: 6px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
  }
  .add_sub_fold{
    right: 25px;
    color: #409EFF;
  }
  .del_fold{
    color: #F56C6C;
  }
}*/

#canvas{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 769px) {
  .left_menu {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 100;
    max-height: 100vh;
    transition: left 0.5s;
    background: #fff;
  }
  .left_menu.show {
    left: 0;
  }
}







